@import "responsive.sass"
#header
	border-bottom: 1px solid rgba(46, 62, 72, 0.12)
	position: fixed
	left: 0
	top: 0
	width: 100%
	z-index: 10
	background-color: #ffffff
	.wrap-header
		display: flex
		justify-content: space-between
		align-items: center
		padding: 10px 0
		.header-left
		.header-right
			ul
				margin: 0
				li
					display: inline-block
					a 
						color: #0098ab
				li:not(:first-child)
					margin-left: 10px
				li:first-child
					padding-right: 10px
					border-right: 1px solid #0098ab
					font-weight: 700



				
