@import"responsive.css";
@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap';
@import 'header.css';
@import 'content.css';
@import 'footer.css';
@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.mt-100 {
    margin-top: 100px;
}

.mb-80 {
    margin-bottom: 80px;
}